<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.LogMapper">
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.LogDO">
        <id column="user_id" property="userId"/>
        <id column="create_time" property="createTime"/>
    </resultMap>
	
	 <sql id="Base_Column_List">
    user_id,create_time
  </sql>
</mapper>